<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="" />
<meta name="author" content="" />
<link rel="icon" href="favicon.ico" />

<title>LOGIN</title>

<!-- Bootstrap core CSS -->
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />

	<link th:href="@{/css/register.css}" rel="stylesheet" />
	<link th:href="@{/css/fv.css}" rel="stylesheet" />
	<link th:href="@{/css/custom_registration.css}" rel="stylesheet" />
	
</head>

<body class="gray-bg">

  <div class="middle-box text-center loginscreen animated fadeInDown">
    <div>
    
      <hr />
      <h2 class="reg-form-header">LOGIN</h2>
	<hr class="reg-hr"/>
	 <!-- ============= START ERROR MESSAGES ============= -->  
      <div th:if="${confirmationMessage}" class="alert alert-success"
        role="alert" th:text=${confirmationMessage}></div>

      <div th:if="${errorMessage}" class="alert alert-danger"
        role="alert" th:text=${errorMessage}></div>
        
      <!-- ============= END ERROR MESSAGES ============= -->  
      
      <!-- ===============START REGISTRATION FORM =============== -->
      <form class="m-t" role="form" th:action="@{/login}" method="post">

        <!-------------- USERNAME ------------->  
		<div class="reg-input-form form-group input-group has-feedback">
          <span class="reg-field-left input-group-addon">
            <span class="glyphicon glyphicon-user"></span>
          </span>
          
          <input type="text" name="userName"
            placeholder="User Name" class="reg-input-field form-control" required />
          <span class="glyphicon form-control-feedback"
            aria-hidden="true"></span>
        </div>
        
        <!-------------- PASSWORD ------------->  
        <div class="form-group input-group">
          <span class="reg-field-left input-group-addon">
            <span class="glyphicon glyphicon-lock"></span>
          </span>
          <input name="password" type="password" id="password"  
            placeholder="Password" class="reg-input-field form-control" required />
          <span class="reg-field-right glyphicon"
            aria-hidden="true"></span>
        </div>

		<hr class="reg-hr"/>

		<button type="submit"
          class="varela-normal m-t btn btn-primary block full-width m-b">Login
        </button>

      </form>
      <div>
          <a class="varela-normal btn btn-primary block full-width m-b" th:href="@{/auth/register}">Go to Registration</a>
      </div>

     
    </div>
  </div>

  <!-- jQuery-->
  <script th:src="@{/webjars/jquery/1.12.4/jquery.min.js}"></script> 

  <!-- Bootstrap -->
  <script th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

   <!-- Password Strength -->
   	<script th:src="@{/js/zxcvbn.js}"></script>
  
  	<script th:src="@{/js/fv.min.js}"></script>
 	<script th:src="@{/js/set_password.js}"></script>
	});
 

</body>

</html>